<div class=" table-content">
    <h1 class="title">Correos enviados</h1>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Destinatario</th>
        <th scope="col">Asunto</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of correos
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: p,
                  totalItems: totalItems
                }
        "
      >
        <td>{{ item.destinatario }}</td>
        <td>{{item.asunto}}</td>
        <td>
            <button (click)="goEmail(item._id)" mat-mini-fab color="primary"><i class="uil uil-eye"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls
    class="pagination"
    (pageChange)="getPage((p = $event))"
  ></pagination-controls>
</div>
