<div class="container__dialog">
    <div class="content__dialog">
        <div class="title__dialog">
            <h1 mat-dialog-title>Acerca de Correos App</h1>
        </div>
        <mat-divider></mat-divider>

        <div class="description__dialog" mat-dialog-content>
            <span>Aplicacion web desarrollada por Eduardo Flores</span>
            <div mat-subheader><strong>Tecnologias FrontEnd:</strong></div>
            <mat-list-item class="item__dialog">Angular</mat-list-item>
            <mat-list-item class="item__dialog">Angular Material</mat-list-item>
         
            <div mat-subheader><strong>Tecnologias Backend:</strong></div>
            <mat-list-item class="item__dialog">NodeJS</mat-list-item>
            <mat-list-item class="item__dialog">ExpressJS</mat-list-item>
            <mat-list-item class="item__dialog">NodeMailer</mat-list-item>
            <mat-list-item class="item__dialog">MongoDB</mat-list-item>
            <mat-list-item class="item__dialog">Google API</mat-list-item>
        </div>

        <div class="social__media">
            <a href="https://github.com/edflor46" target="_blank"> <i class="uil uil-github-alt icon__dialog"></i></a>
            <a href="https://www.linkedin.com/in/eduardo-flores-6a2821209/" target="_blank"> <i class="uil uil-linkedin-alt icon__dialog"></i></a>
            <a href="https://www.instagram.com/luiseduardo_2311/" target="_blank"> <i class="uil uil-instagram icon__dialog"></i></a>
        </div>
        <div mat-dialog-actions mat-dialog-close>
            <button class="button__dialog" mat-raised-button color="primary">Entendido</button>    
        </div>
    </div>
</div>

