/* You can add global styles to this file, and also import other style files */
/* -------------------------------------------------------------------------- */
/*                                    FONT                                    */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');

/* -------------------------------------------------------------------------- */
/*                                  GENERALES                                 */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Courgette', cursive;
  overflow-y: hidden;
}

p {
  margin: 0;
}

.title {
  text-align: center;
  margin: 20px auto;
  font-family: 'Lobster', cursive;
  color: #835FFF
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #835FFF !important;
  font-family: 'Courgette', cursive;
}

.mat-simple-snackbar-action{
  color: #AA31FF;
}

/* -------------------------------------------------------------------------- */
/*                                     NAV                                    */
/* -------------------------------------------------------------------------- */
.mat-toolbar.mat-primary {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.example-spacer {
  flex: 1 1 auto;
}

.title__nav {
  font-family: 'Lobster', cursive;
  font-size: 26px;
}

.icon__custom {
  font-size: 26px;
  transition: all .4s;
}

.icon__custom:hover,
.active {
  color: #FFF !important;
}

.link {
  color: rgb(155, 183, 245);
  font-family: 'Courgette', cursive;
  transition: all .4s;
}



.link:hover {
  color: #FFF !important;
}

.sidenav {
  width: 200px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */
mat-sidenav-content {
  background-color: #f3f3f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%234252ce' fill-opacity='0.1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}


mat-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 4px !important;
  cursor: pointer;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
  text-align: center;
  transition: ease-in-out .4s !important;
}

.title__card {
  font-family: 'Lobster', cursive;
  color: #03b983;
}

.title__card-enviados {
  font-family: 'Lobster', cursive;
  color: #b92d03;
}

.title__card-about {
  font-family: 'Lobster', cursive;
  color: #3F51B5;
}

.card__description {
  font-family: 'Courgette', cursive;
  font-size: 14px;
  color: #2e302f;
}

@media screen and (min-width: 550px) {
  .card__description {
    font-size: 18px;
  }
}

mat-card:hover {
  box-shadow: 1px 1px 4px rgba(0, 38, 255, 0.425) !important;
}

.send i {
  color: #03b983;
}

.last i {
  color: #b92d03;
}

.about i {
  color: #3F51B5;
}



.icon__card {
  font-size: 35px;
}

@media screen and (min-width:550px) {
  .container {
    width: 95%;
  }

  mat-card {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:1024px) {
  .container {
    width: 60%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    ALERT                                   */
/* -------------------------------------------------------------------------- */
.content__alert{
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.card__alert{
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
  position: relative;
  top: 30%;

}

.title__icon{
  margin-left: auto;
  margin-right: auto;
}
.title__icon i{
  font-size: 40px;
  color: #665e16;
}

.alert__description{
  font-family: 'Courgette', cursive;
  font-size: 18px;
  color: #505209;
}


/* -------------------------------------------------------------------------- */
/*                                   DIALOG                                   */
/* -------------------------------------------------------------------------- */
.mat-dialog-container{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  padding: 0 !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.container__dialog{
  width: 250px;
}

@media screen and (min-width:600px) {
  .container__dialog{
    width: 500px;
  }
}

.content__dialog{
  width: 100%;
  margin-left: 5px !important;
  margin-right: 5px !important;
  text-align: center;
 
}

.dialog__description{
  width: 100% !important;
}

.mat-dialog-title {
  margin: 0 0 5px !important;
  font-family: 'Lobster', cursive;
}

.item__dialog{
  font-family: 'Courgette', cursive;
}

.mat-subheader{
justify-content: center; 
padding: 10px !important; 
}

.social__media{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 3px;
  margin-right: 3px;
}

.social__media a:nth-child(1){
  color: #A536FF;
}

.social__media a:nth-child(2){
 color: #6A7CFE;
}

.social__media a:nth-child(3){
 color: #40AFFD;
}


.icon__dialog{
  font-size: 30px;
  margin: 5px;
}

.button__dialog{
  margin-bottom: 30px !important;
}
/* -------------------------------------------------------------------------- */
/*                                 PAGINATION                                 */
/* -------------------------------------------------------------------------- */

.pagination {
  position: fixed;
  bottom: 20%;
  left: -10%;
}

.ngx-pagination .current {
  background-color: #835FFF !important;
}

@media screen and (min-width:550px) {
  .pagination {
    left: 32%;
  }

  .table-content {
    width: 80% !important;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   SPINNER                                  */
/* -------------------------------------------------------------------------- */
.content__spinner {
  height: 100vh !important;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto !important;
  background-color: #2f2f31e0;
  position: fixed;
}

.spinner {
  display: grid;
  top: 37%;
  margin: 0 auto;
}

.content__spinner h1 {
  position: relative;
  top: 38%;
}

.title__spinner {
  color: #4D9FFD;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #786DFE;
}

/* -------------------------------------------------------------------------- */
/*                                    TABLE                                   */
/* -------------------------------------------------------------------------- */
.table-content {
  width: 95%;
  height: 100vh;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------------------------------------------------------------- */
/*                                    MAIL                                    */
/* -------------------------------------------------------------------------- */

.back i {
  color: #835FFF;
  font-size: 30px;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: ease-in-out .4s;
}

.back i:hover {
  transform: scale(1, 1);
  color: #c4c8e4;
}

.content__mail {
  height: 100vh;
}

@media screen and (min-width:450px) {
  .content__mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.mensaje {
  margin-top: 15px;
}

.mensaje strong {
  font-size: 20px;
}

.footer__mail {
  text-align: center;
  position: relative;
  bottom: -300px;
  color: rgb(124, 124, 124);
}

/* -------------------------------------------------------------------------- */
/*                                    SEND                                    */
/* -------------------------------------------------------------------------- */

.content__send {
  height: 100vh;
  text-align: center;
  display: block;
}

.mat-form-field-infix {
  width: 300px !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

.mat-form-field-infix{
  font-family: 'Courgette', cursive;
}
